[metadata]
name = {{ project_name }}
version = attr: {{ package_name }}.__version__
description = {{ description }}
license = {{ license }}

[options]
python_requires = >={{ python_minimum }}, <4
package = find:
package_dir = 
    = src

install_requires = 
    {% for package in install_requires %}
    {{ package }}
    {% endfor %}

[options.packages.find]
where = src

[options.extras_require]
develop = 
    black
    flake8
    isort

test = 
    tox

[flake8]
exclude = build,.git/*,.tox/*
max-line-length = 88
